<div *ngIf="user" class="container">
    <div class="row">
        <div class="col-10">
            <!-- <form class="row g-3"> -->
            <div class="row g-3">
                <div class="col-xs-12">
                    <img style="height: 150px;" [src]="user.avatar" class="img-responsive">
                  </div>
                <div class="col-md-6">
                    <label for="name" class="form-label">Họ tên</label>
                    <span class="form-control">{{user.name}}</span>
                </div>
                <div class="col-md-6">
                    <label for="dob" class="form-label">Ngày sinh</label>
                    <span class="form-control">{{user.dateOfBirth | date: 'dd/MM/yyyy'}}</span>
                </div>
                <div class="col-md-6">
                    <label for="phone" class="form-label">Số điện thoại</label>
                    <span class="form-control">{{user.phoneNumber}}</span>
                </div>
                <div class="col-md-6">
                    <label for="address" class="form-label">Địa chỉ</label>
                    <span class="form-control">{{user.address}}</span>
                </div>
                <div class="col-md-6">
                    <label for="address" class="form-label">Id phòng</label>
                    <span class="form-control">{{user.roomId}}</span>
                </div>
                <div class="col-md-6">
                    
                </div>
                <div class="col-md-6">
                    <!-- <button (click)="onClose()">Đóng</button> -->
                    <button pButton type="button" label="Đóng" (click)="onClose();" class="p-button-outlined"></button>
                </div>
            </div>
            <!-- </form> -->
        </div>
    </div>
</div>